
.header li{
	-webkit-box-flex:1;
	background: #f68672;
	text-align: center;
	line-height: 89px;
}
.header li h1{
	font-size: 1.5em;
	font-weight: bold;
	color: white;
}
#wrapper {
	position:absolute; 
    z-index:1;
	top:90px;
    bottom:60px;
    left:0;
	width:100%;
	background:#aaa;
	overflow:auto;
}
#scroller {
	background:#fafafa;
	position:absolute; 
    z-index:1;
	height: 730px;
	width:100%;
	padding:0;
}
#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#scroller ul li{height: 113px; 
	border-bottom: 1px solid #ccc;
	 font-size: 1.5em; color: #000; line-height: 1.6em;}
#scroller ul li span{color: red;}
#scroller ul li b{float: right; font-size: 1em;}
